@model IEnumerable<MagicWebsite.Models.CardsVM>
@{
    ViewBag.Title = "Cards";
}
<h1>Card Database</h1>
@if ((string)Session["Role"] == "Admin" || (string)Session["Role"] == "Mod")
{
        <button>@Html.ActionLink("Create New Card", "CreateCard")</button>
}
<p>Count: @Model.Count()</p>

@foreach (var p in Model)
{
    <div class="col-md-3">
        <div class="well well-sm">
            <img src="@Url.Content(p.PictureURL)" />
            <h3>@p.Name - @p.Cardtype</h3>
            
            @if ((string)Session["Role"] == "Admin" || (string)Session["Role"] == "Mod")
            {
                   <button> @Html.ActionLink("Edit", "EditCard", new { name = p.Name })</button>
                   <button>@Html.ActionLink("Delete", "DeleteCard", new { name = p.Name })</button>
                    <button>@Html.ActionLink("Add Card", "AddCardToDeck", new { cardid = p.ID })</button>
            }
            else
            {
                    <button>@Html.ActionLink("Add Card", "AddCardToDeck", new { cardid = p.ID })</button>
            }
        </div>
    </div>
}