@model IEnumerable<MagicWebsite.Models.DeckVM>

@{
    ViewBag.Title = "ListUserDecks";
}

<h2>ListUserDecks</h2>

<p>
    @Html.ActionLink("Create New", "CreateDeck")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("View", "EditDeck", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteDeck", new { id = item.ID }) |
                @Html.ActionLink("Set", "SetDeckFromUserDeck", new { id = item.ID })
            </td>
        </tr>
    }

</table>
